#main {
    padding-top: calc(4px);
}

@media (min-width: 992px) {
    #main {
      padding-top: calc(104px);
    }
}

@font-face {
    font-family: "kawage font";
    src: 
    url("fonts/RoboSapienExpanded-d9GvZ.otf") format("opentype");
}

.navbar-brand {
    font-family: "kawage font";
    text-transform: lowercase;
    font-size: 3em;
}

.bbb-bg-primary {
    background-color: #FF5733;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s, color .2s;

}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color:#FF5733;
    border-color: #FF5733;

}

#mainNav .navbar-nav li.nav-item a.nav-link:active {
    background: none;
    color: white;
    border-color: #FF5733;

}

.masthead {
    background-image: url("../theme/assets/img/portfolio/billy.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.from-lablel {
    font-size: 3em;

}