{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="static/theme/assets/img/portfolio/bob3.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading font-weight-bold rounded text-lowercase mb-0"><i>"transparent, scalable Network Automation for Nextgen Multicloud environments"</i></h1>
    </div>
<h1>
    
</h1>
{% endblock %}